body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
}

#container {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

#text {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  padding-top: 20px;
  position: relative;
}

#author {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

#quote-box {
  background-color: whitesmoke;
  border-radius: 1px;
  padding: 1em 2em;
  width: 40%;
  height: 38%;
  min-width: 320px;
  grid-template-rows: repeat(2, 1fr);
  display: grid;
}

blockquote, cite {
  display: block;
}
/* 
 blockquote style idea
https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
*/
#test {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.flex-wrap {
  display: flex;
  align-items: flex-start;
}



#new-quote {
  padding: 10px;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
  color: white;
  margin-left: 30px;
  border-radius: 1px;
}

#new-quote:hover, #tweet-quote:hover {
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .5);
}

#new-quote:active, #tweet-quote:active {
  color: black;
}

button:focus {outline:0;}

#tweet-quote {
  padding: 10px;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
  color: white;
  margin-left: 15px;
  border-radius: 1px;
}
.fab, .fas {
  color: white;
}



.purple-500 {
  animation-duration: 900ms;
  animation-name: purple;
  animation-fill-mode: forwards;
}

.purple-text {
  animation-duration: 900ms;
  animation-name: purple-text;
  animation-fill-mode: forwards;
}

@keyframes purple {
  0% {
    background-color: rgba(103, 58, 183, 0.1);
    color: white;
  }
  30% {
    background-color: rgba(103, 58, 183, 0.5);
    color: white;
  }
  68% {
    background-color: rgba(103, 58, 183, 0.8);
    color: white;
  }
  100% {
    background-color: rgba(103, 58, 183, 1);
    color: white;
  }
}

@keyframes purple-text {
  0% {
    color: rgba(103, 58, 183, 0.1);
  }
  30% {
    color: rgba(103, 58, 183, 0.5);
  }
  68% { 
    color: rgba(103, 58, 183, 0.8);
  }
  100% {
    color: rgba(103, 58, 183, 1);
  }
}

.pink-500 {
  animation-duration: 900ms;
  animation-name: pink;
  animation-fill-mode: forwards;
}

.pink-text {
  animation-duration: 900ms;
  animation-name: pink-text;
  animation-fill-mode: forwards;
}

@keyframes pink {
  0% {
    background-color: rgba( 233, 30, 99, 0.1);
    color: white;
  }
  30% {
    background-color: rgba(233, 30, 99, 0.5);
    color: white;
  }
  68% {
    background-color: rgba(233, 30, 99, 0.8);
    color: white;
  }
  100% {
    background-color: rgba(233, 30, 99,  1);
    color: white;
  }
}

@keyframes pink-text {
  0% {
    color: rgba( 233, 30, 99, 0.1);
  }
  30% {
    color: rgba(233, 30, 99, 0.5);
  }
  68% { 
    color: rgba(233, 30, 99, 0.8);
  }
  100% {
    color: rgba(233, 30, 99,  1);
  }
}


.blue-500 {
  animation-duration: 900ms;
  animation-name: blue;
  animation-fill-mode: forwards;
}

.blue-text {
  animation-duration: 900ms;
  animation-name: blue-text;
  animation-fill-mode: forwards;
}

@keyframes blue {
  0% {
    background-color: rgba( 33, 150, 243, 0.1);
    color: white;
  }
  30% {
    background-color: rgba(  33, 150, 243, 0.5);
    color: white;
  }
  68% {
    background-color: rgba(  33, 150, 243, 0.8);
    color: white;
  }
  100% {
    background-color: rgba(  33, 150, 243, 1);
    color: white;
  }
}

@keyframes blue-text {
  0% {
    color: rgba(  33, 150, 243, 0.1);
  }
  30% {
    color: rgba(  33, 150, 243, 0.5);
  }
  68% { 
    color: rgba(  33, 150, 243, 0.8);
  }
  100% {
    color: rgba(  33, 150, 243, 1);
  }
}


.green-500 {
  animation-duration: 900ms;
  animation-name: green;
  animation-fill-mode: forwards;
}

.green-text {
  animation-duration: 900ms;
  animation-name: green-text;
  animation-fill-mode: forwards;
}

@keyframes green {
  0% {
    background-color: rgba( 76, 175, 80, 0.1);
    color: white;
  }
  30% {
    background-color: rgba(  76, 175, 80, 0.5);
    color: white;
  }
  68% {
    background-color: rgba( 76, 175, 80, 0.8);
    color: white;
  }
  100% {
    background-color: rgba(  76, 175, 80, 1);
    color: white;
  }
}

@keyframes green-text {
  0% {
    color: rgba(  76, 175, 80, 0.1);
  }
  30% {
    color: rgba(  76, 175, 80, 0.5);
  }
  68% { 
    color: rgba( 76, 175, 80, 0.8);
  }
  100% {
    color: rgba( 76, 175, 80, 1);
  }
}


.blueGray-500 {
  animation-duration: 900ms;
  animation-name: blueGray;
  animation-fill-mode: forwards;
}

.blueGray-text {
  animation-duration: 900ms;
  animation-name: blueGray-text;
  animation-fill-mode: forwards;
}

@keyframes blueGray {
  0% {
    background-color: rgba( 96, 125, 139, 0.1);
    color: white;
  }
  30% {
    background-color: rgba(  96, 125, 139, 0.5);
    color: white;
  }
  68% {
    background-color: rgba( 96, 125, 139, 0.8);
    color: white;
  }
  100% {
    background-color: rgba( 96, 125, 139, 1);
    color: white;
  }
}

@keyframes blueGray-text {
  0% {
    color: rgba( 96, 125, 139, 0.1);
  }
  30% {
    color: rgba( 96, 125, 139, 0.5);
  }
  68% { 
    color: rgba( 96, 125, 139,0.8);
  }
  100% {
    color: rgba( 96, 125, 139, 1);
  }
}



.red-500 {
  animation-duration: 900ms;
  animation-name: red;
  animation-fill-mode: forwards;
}

.red-text {
  animation-duration: 900ms;
  animation-name: red-text;
  animation-fill-mode: forwards;
}

@keyframes red {
  0% {
    background-color: rgba( 244, 67, 54, 0.1);
    color: white;
  }
  30% {
    background-color: rgba(  244, 67, 54, 0.5);
    color: white;
  }
  68% {
    background-color: rgba( 244, 67, 54, 0.8);
    color: white;
  }
  100% {
    background-color: rgba( 244, 67, 54, 1);
    color: white;
  }
}

@keyframes red-text {
  0% {
    color: rgba( 244, 67, 54, 0.1);
  }
  30% {
    color: rgba( 244, 67, 54, 0.5);
  }
  68% { 
    color: rgba( 244, 67, 54, 0.8);
  }
  100% {
    color: rgba( 244, 67, 54, 1);
  }
}



.indigo-500 {
  animation-duration: 900ms;
  animation-name: indigo;
  animation-fill-mode: forwards;
}

.indigo-text {
  animation-duration: 900ms;
  animation-name: indigo-text;
  animation-fill-mode: forwards;
}

@keyframes indigo {
  0% {
    background-color: rgba( 63, 81, 181, 0.1);
    color: white;
  }
  30% {
    background-color: rgba( 63, 81, 181, 0.5);
    color: white;
  }
  68% {
    background-color: rgba( 63, 81, 181, 0.8);
    color: white;
  }
  100% {
    background-color: rgba(  63, 81, 181, 1);
    color: white;
  }
}

@keyframes indigo-text {
  0% {
    color: rgba(  63, 81, 181, 0.1);
  }
  30% {
    color: rgba( 63, 81, 181, 0.5);
  }
  68% { 
    color: rgba(  63, 81, 181, 0.8);
  }
  100% {
    color: rgba(  63, 81, 181, 1);
  }
}



@media only screen and (max-width: 1380px) {
    
  #quote-box {
    background-color: whitesmoke;
    border-radius: 1px;
    padding: 1em 2em;
    width: 65%;
    height: 50%;
    display: grid;
  }

}



@media only screen and (max-width: 880px) {
    
  #quote-box {
    background-color: whitesmoke;
    border-radius: 1px;
    padding: 1em 2em;
    width: 80%;
    height: 65%;
  }

  #test {
    height: 250px;
  }

}